myDamco/Service References/DocumentManagement/schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.bea.com/servers/wls/samples/net/mlog/edoc/webservice/edocwebservice/widget" elementFormDefault="qualified" targetNamespace="http://www.bea.com/servers/wls/samples/net/mlog/edoc/webservice/edocwebservice/widget" id="schema1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getReleasedPouchData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UserLogin" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CacheKey" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReleasedPouchDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="WidgetResponse" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>