myDamco/Backup/Service References/Reporting/ReportingWebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://more.apmoller.net/reporting" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://more.apmoller.net/reporting" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="http://more.apmoller.net/reporting">
      <s:include schemaLocation="http://localhost:9015/Reporting/ReportingWebServices.asmx?schema=schema1" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRecentSearchesSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecentSearches" />
  </wsdl:message>
  <wsdl:message name="GetRecentSearchesSoapOut">
    <wsdl:part name="parameters" element="tns:GetRecentSearchesResponse" />
  </wsdl:message>
  <wsdl:message name="GetRecentReportsSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecentReports" />
  </wsdl:message>
  <wsdl:message name="GetRecentReportsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRecentReportsResponse" />
  </wsdl:message>
  <wsdl:message name="GetScheduleReportsSoapIn">
    <wsdl:part name="parameters" element="tns:GetScheduleReports" />
  </wsdl:message>
  <wsdl:message name="GetScheduleReportsSoapOut">
    <wsdl:part name="parameters" element="tns:GetScheduleReportsResponse" />
  </wsdl:message>
  <wsdl:portType name="ReportingWebServicesSoapBinding">
    <wsdl:operation name="GetRecentSearches">
      <wsdl:input message="tns:GetRecentSearchesSoapIn" />
      <wsdl:output message="tns:GetRecentSearchesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRecentReports">
      <wsdl:input message="tns:GetRecentReportsSoapIn" />
      <wsdl:output message="tns:GetRecentReportsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduleReports">
      <wsdl:input message="tns:GetScheduleReportsSoapIn" />
      <wsdl:output message="tns:GetScheduleReportsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportingWebServicesSoapBinding" type="tns:ReportingWebServicesSoapBinding">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecentSearches">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecentReports">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduleReports">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReportingWebServicesSoapBinding1" type="tns:ReportingWebServicesSoapBinding">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecentSearches">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecentReports">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduleReports">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>